[Desktop Entry]
Type=Application
Name=Chromium Kiosk
Exec=chromium --kiosk --start-fullscreen --enable-spatial-navigation --password-store=basic file:///home/YOUR_USERNAME/homepage/index.html
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
